@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway";
  margin: 0 auto;
  max-width: 1440px;
  width: 90vw;
  height: 100px;
}
body div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  width: 90%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 138px;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
nav ul li {
  list-style: none;
}
nav ul li .link {
  font-size: 16px;
  text-decoration: none;
  color: black;
  margin: 0 5px;
}
nav ul li .link.active {
  color: #028a0f;
}
nav ul li .link:hover {
  color: #028a0f;
}
nav button {
  font-size: 16px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  padding: 0 25px;
  height: 43px;
  background: linear-gradient(135deg, #028a0f 0%, #90d296 100%);
}
nav button:hover {
  background: linear-gradient(135deg, #90d296 0%, #028a0f 100%);
}

.footer {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f3fbf4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .wrapper {
  height: 80%;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
}
.footer .wrapper .descriptionContainer {
  width: 30%;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.footer .wrapper .descriptionContainer .footerLogo {
  width: 200px;
  height: 70px;
  margin-bottom: 20px;
}
.footer .wrapper .descriptionContainer p {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 28px;
}
.footer .wrapper .descriptionContainer .social {
  flex-direction: row;
  justify-content: start;
}
.footer .wrapper .descriptionContainer .social img {
  width: 24px;
  margin-right: 24px;
}
.footer .wrapper .linksContainer {
  width: 30%;
  flex-direction: row;
  align-items: start;
}
.footer .wrapper .linksContainer .quickLinks {
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
.footer .wrapper .linksContainer .quickLinks h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
.footer .wrapper .linksContainer .quickLinks .miniLayout {
  height: 100%;
  justify-content: center;
}
.footer .wrapper .linksContainer .quickLinks .miniLayout ul {
  width: 100%;
  flex-direction: column;
  align-items: start;
}
.footer .wrapper .linksContainer .quickLinks .miniLayout ul li {
  margin-bottom: 24px;
}
.footer .wrapper .linksContainer .quickLinks .miniLayout ul li .miniLink {
  text-decoration: none;
  color: black;
}
.footer .wrapper .linksContainer .quickLinks .miniLayout ul li .miniLink:hover {
  color: #028a0f;
}
.footer .wrapper .linksContainer .legalLinks {
  flex-direction: column;
  align-items: start;
}
.footer .wrapper .linksContainer .legalLinks h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
.footer .wrapper .linksContainer .legalLinks a {
  text-decoration: none;
  color: black;
  margin-bottom: 24px;
}
.footer .wrapper .linksContainer .legalLinks a:hover {
  color: #028a0f;
}
.footer .copyright {
  margin-top: 100px;
}

.header {
  width: 100%;
  height: 700px;
  margin-bottom: 120px;
  background-image: url("../src/pictures/home/homeBaner.png");
  background-position: center;
}
.header .headerDescription {
  height: 100%;
  align-items: start;
  width: 50%;
  margin-left: 6%;
}
.header .headerDescription h1 {
  font-size: 80px;
  color: #ffffff;
}
.header .headerDescription p {
  font-size: 18px;
  color: #ffffff;
  line-height: 28px;
  margin-bottom: 20px;
}
.header .headerDescription button {
  font-size: 16px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  padding: 0 25px;
  height: 43px;
  background: linear-gradient(135deg, #028a0f 0%, #90d296 100%);
}
.header .headerDescription button:hover {
  background: linear-gradient(135deg, #90d296 0%, #028a0f 100%);
}

.shortAboutUs {
  width: 90%;
  height: 700px;
  margin-bottom: 120px;
}
.shortAboutUs .wrapper {
  width: 100%;
  height: 100%;
  flex-direction: row;
}
.shortAboutUs .wrapper .imgWrapper {
  width: 50%;
  height: 100%;
  position: relative;
}
.shortAboutUs .wrapper .imgWrapper img {
  width: 90%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.shortAboutUs .wrapper .imgWrapper div {
  width: 90%;
  aspect-ratio: 1/1;
  position: absolute;
  top: 18%;
  right: 0;
  border: solid 4px #028a0f;
}
.shortAboutUs .wrapper .descriptionWrapper {
  width: 50%;
  padding-left: 5%;
  align-items: start;
}
.shortAboutUs .wrapper .descriptionWrapper h2 {
  font-size: 48px;
  margin-bottom: 20px;
}
.shortAboutUs .wrapper .descriptionWrapper p {
  font-size: 18px;
  color: #848484;
  line-height: 28px;
  margin-bottom: 20px;
}
.shortAboutUs .wrapper .descriptionWrapper .aboutUsListEl {
  flex-direction: row;
  justify-content: start;
}
.shortAboutUs .wrapper .descriptionWrapper .aboutUsListEl img {
  margin-bottom: 20px;
  margin-right: 10px;
}

.shortOurServices {
  width: 90%;
  margin-bottom: 120px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.shortOurServices h2 {
  font-size: 48px;
  text-align: center;
  height: 15%;
}
.shortOurServices .carts {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.shortOurServices .carts .card {
  background-color: #fff;
  align-items: start;
  justify-content: center;
  border-radius: 10px;
  width: 45%;
  height: 42%;
  padding: 2%;
  transition: 1s;
  margin-bottom: 20px;
}
.shortOurServices .carts .card img {
  height: 45px;
  margin-bottom: 20px;
}
.shortOurServices .carts .card h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
.shortOurServices .carts .card p {
  font-size: 18px;
  color: #848484;
  line-height: 28px;
}
.shortOurServices .carts .card:hover {
  box-shadow: 4px 4px 50px #848484;
  transform: scale(1.02);
}

.clientReviews {
  width: 100%;
  margin-bottom: 120px;
  background-color: #f3fbf4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.clientReviews h2 {
  font-size: 48px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.clientReviews .clientReview {
  flex-direction: column;
  width: 70%;
  text-align: center;
}
.clientReviews .clientReview .clientRevievDescription {
  font-size: 18px;
  color: #848484;
  line-height: 28px;
  margin-bottom: 50px;
}
.clientReviews .clientReview .clientInfo {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-bottom: 100px;
}
.clientReviews .clientReview .clientInfo img {
  width: 60px;
}
.clientReviews .clientReview .clientInfo .userName {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.clientReviews .clientReview .clientInfo .userName h3 {
  font-size: 20px;
  margin-bottom: 20px;
  margin-bottom: 10px;
}
.clientReviews .clientReview .clientInfo .userName p {
  font-size: 18px;
  color: #848484;
  line-height: 28px;
}

.centerForYou {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  margin-bottom: 120px;
  align-items: center;
}
.centerForYou img {
  width: 50%;
  height: 50%;
}
.centerForYou .description {
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}
.centerForYou .description h2 {
  font-size: 48px;
  margin-bottom: 40px;
}
.centerForYou .description p {
  font-size: 18px;
  color: #848484;
  line-height: 28px;
  margin-bottom: 40px;
}
.centerForYou .description button {
  font-size: 16px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  padding: 0 25px;
  height: 43px;
  background: linear-gradient(135deg, #028a0f 0%, #90d296 100%);
}

.callBanner {
  position: relative;
  width: 90%;
  margin-bottom: 120px;
  background: linear-gradient(135deg, #028a0f 0%, #90d296 100%);
  overflow: hidden;
}
.callBanner .paperAeroplane {
  position: absolute;
  height: 130px;
  bottom: -20px;
  right: 15px;
}
.callBanner .description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 50%;
  margin: 5%;
}
.callBanner .description h2 {
  font-size: 48px;
  color: white;
  margin-bottom: 30px;
}
.callBanner .description p {
  font-size: 18px;
  color: #ffffff;
  line-height: 28px;
  margin-bottom: 30px;
}
.callBanner .description button {
  font-size: 16px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  padding: 0 25px;
  height: 43px;
  background: linear-gradient(135deg, #028a0f 0%, #90d296 100%);
  background: white;
  color: black;
}

.topBanner {
  position: relative;
  width: 100%;
  margin-bottom: 120px;
}
.topBanner img {
  width: 100%;
}
.topBanner h2 {
  font-size: 48px;
  color: #ffffff;
  position: absolute;
  left: 5%;
  bottom: 15%;
}

.aboutUs {
  margin-bottom: 120px;
}
.aboutUs .mission {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 120px;
}
.aboutUs .mission .descriptionWrapper {
  width: 40%;
  align-items: start;
}
.aboutUs .mission .descriptionWrapper h2 {
  font-size: 48px;
}
.aboutUs .mission .descriptionWrapper p {
  font-size: 18px;
  color: #848484;
  line-height: 28px;
}
.aboutUs .mission img {
  width: 50%;
  max-height: 600px;
}
.aboutUs .history {
  width: 90%;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 120px;
}
.aboutUs .history h2 {
  font-size: 48px;
  margin-bottom: 60px;
}
.aboutUs .history .historyElments {
  flex-direction: column;
  align-items: flex-start;
}
.aboutUs .history .historyElments .historyElement {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 120px;
}
.aboutUs .history .historyElments .historyElement .date {
  min-width: 110px;
  width: auto;
}
.aboutUs .history .historyElments .historyElement .description {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.aboutUs .history .historyElments .historyElement .description .title {
  flex-direction: row;
  width: auto;
  height: auto;
}
.aboutUs .history .historyElments .historyElement .description .title .dot {
  height: 12px;
  width: 12px;
  margin: 22px 24px;
}
.aboutUs .history .historyElments .historyElement .description .title h2 {
  margin-bottom: 10px;
}
.aboutUs .history .historyElments .historyElement .description .insideDescription {
  flex-direction: row;
  width: auto;
  height: 100%;
}
.aboutUs .history .historyElments .historyElement .description .insideDescription .line {
  display: inline-block;
  margin: 22px 30px;
  height: 200px;
  width: 2px;
  background-color: black;
}
.aboutUs .history .historyElments .historyElement .description .insideDescription p {
  font-size: 18px;
  color: #848484;
  line-height: 28px;
}
.aboutUs .staff {
  flex-direction: column;
  width: 90%;
}
.aboutUs .staff h2 {
  font-size: 48px;
  margin-bottom: 60px;
}
.aboutUs .staff .staffMembers {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.aboutUs .staff .staffMembers .staffMember {
  flex-direction: column;
  width: 23%;
  margin-bottom: 6%;
}
.aboutUs .staff .staffMembers .staffMember .avatar {
  width: 100%;
  margin-bottom: 20px;
}
.aboutUs .staff .staffMembers .staffMember .name {
  width: 95%;
  margin-bottom: 10px;
}
.aboutUs .staff .staffMembers .staffMember .position {
  font-size: 18px;
  color: #848484;
  line-height: 28px;
  color: #000;
  width: 95%;
  margin-bottom: 10px;
}
.aboutUs .staff .staffMembers .staffMember .memberDescription {
  font-size: 18px;
  color: #848484;
  line-height: 28px;
  width: 95%;
}

.services {
  flex-direction: column;
  width: 90%;
}
.services .service {
  width: 100%;
  flex-direction: row;
  margin-bottom: 120px;
}
.services .service .details {
  flex-direction: column;
  width: 70%;
  margin-right: 40px;
}
.services .service .details .title {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
}
.services .service .details .title h2 {
  font-size: 48px;
  margin-bottom: 40px;
}
.services .service .details .title p {
  font-size: 18px;
  color: #848484;
  line-height: 28px;
}
.services .service .details .description {
  flex-direction: column;
  align-items: flex-start;
}
.services .service .details .description h3 {
  font-size: 48px;
  font-size: 32px;
  margin-bottom: 20px;
}
.services .service .details .description p {
  font-size: 18px;
  color: #848484;
  line-height: 28px;
}
.services .service .offers {
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
}
.services .service .offers h3 {
  font-size: 48px;
  font-size: 32px;
  margin-bottom: 20px;
}
.services .service .offers p {
  font-size: 18px;
  color: #848484;
  line-height: 28px;
  color: #000;
  margin-bottom: 10px;
}

.dietaryServices {
  width: 90%;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 120px;
}
.dietaryServices .dietaryServicesTitle {
  font-size: 48px;
  margin-bottom: 60px;
}
.dietaryServices .dietaryServicesWrapper {
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.dietaryServices .dietaryServicesWrapper .frame {
  align-items: flex-start;
  background-color: #f3fbf4;
  border-radius: 10px;
  width: 32%;
}
.dietaryServices .dietaryServicesWrapper .frame .frameImg {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 30px;
}
.dietaryServices .dietaryServicesWrapper .frame .frameTitle {
  font-size: 48px;
  font-size: 32px;
  margin: 0px 24px 20px 24px;
}
.dietaryServices .dietaryServicesWrapper .frame .frameText {
  font-size: 18px;
  color: #848484;
  line-height: 28px;
  margin: 0px 24px 20px 24px;
}

.socialActivities {
  width: 90%;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 120px;
}
.socialActivities .socialActivitiesTitle {
  font-size: 48px;
  margin-bottom: 60px;
}
.socialActivities .socialActivitiesWrapper {
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.socialActivities .socialActivitiesWrapper .frame {
  align-items: flex-start;
  border-radius: 10px;
  border: 2px solid #028a0f;
  width: 49%;
  margin-bottom: 20px;
}
.socialActivities .socialActivitiesWrapper .frame .frameImg {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 40px;
}
.socialActivities .socialActivitiesWrapper .frame .frameTitle {
  font-size: 48px;
  font-size: 32px;
  margin: 0px 24px 20px 24px;
}
.socialActivities .socialActivitiesWrapper .frame .frameText {
  font-size: 18px;
  color: #848484;
  line-height: 28px;
  margin: 0px 24px 46px 24px;
}

.indoor {
  width: 90%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 120px;
}
.indoor .indoorTitle {
  font-size: 48px;
  margin-bottom: 40px;
}
.indoor .indoorWrapper {
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.indoor .indoorWrapper .frame {
  align-items: flex-start;
  width: 49%;
  margin-bottom: 20px;
}
.indoor .indoorWrapper .frame .frameImg {
  width: 100%;
  margin-bottom: 40px;
}
.indoor .indoorWrapper .frame .frameTitle {
  font-size: 48px;
  font-size: 32px;
  margin-bottom: 20px;
}
.indoor .indoorWrapper .frame .frameText {
  font-size: 18px;
  color: #848484;
  line-height: 28px;
}

.outdoor {
  width: 90%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 120px;
}
.outdoor .outdoorTitle {
  font-size: 48px;
  margin-bottom: 40px;
}
.outdoor .outdoorWrapper {
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.outdoor .outdoorWrapper .frame {
  align-items: flex-start;
  width: 49%;
  margin-bottom: 20px;
}
.outdoor .outdoorWrapper .frame .frameImg {
  width: 100%;
  margin-bottom: 40px;
}
.outdoor .outdoorWrapper .frame .frameTitle {
  font-size: 48px;
  font-size: 32px;
  margin-bottom: 20px;
}
.outdoor .outdoorWrapper .frame .frameText {
  font-size: 18px;
  color: #848484;
  line-height: 28px;
}

.commonAreas {
  width: 90%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 120px;
}
.commonAreas .commonAreasTitle {
  font-size: 48px;
  margin-bottom: 40px;
}
.commonAreas .commonAreasImages {
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.commonAreas .commonAreasImages img {
  width: 49%;
  margin-bottom: 20px;
}
.commonAreas .commonAreasText {
  font-size: 18px;
  color: #848484;
  line-height: 28px;
}

.accessibilityFeatures {
  width: 90%;
  margin-bottom: 120px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.accessibilityFeatures .accessibilityFeaturesTitle {
  font-size: 48px;
  text-align: center;
  height: 15%;
  margin-bottom: 40px;
}
.accessibilityFeatures .accessibilityFeaturesWrapper {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.accessibilityFeatures .accessibilityFeaturesWrapper .frame {
  background-color: #f3fbf4;
  align-items: start;
  justify-content: space-between;
  border-radius: 10px;
  width: 30%;
  height: 42%;
  padding: 2%;
  margin-bottom: 20px;
}
.accessibilityFeatures .accessibilityFeaturesWrapper .frame .frameImg {
  height: 45px;
  margin-bottom: 20px;
}
.accessibilityFeatures .accessibilityFeaturesWrapper .frame h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
.accessibilityFeatures .accessibilityFeaturesWrapper .frame p {
  font-size: 18px;
  color: #848484;
  line-height: 28px;
}

.paymentPlans {
  width: 90%;
}
.paymentPlans .paymentPlansTitle {
  font-size: 48px;
  margin-bottom: 60px;
}
.paymentPlans .subscriptionTimeSwitch {
  border: solid 2px black;
  border-radius: 8px;
  width: 30%;
  height: 60px;
  position: relative;
}
.paymentPlans .subscriptionTimeSwitch .backgroundSwitch {
  position: absolute;
  border: solid 2px black;
  border-radius: 5px;
  height: 100%;
  width: 45%;
  background: black;
  left: -2px;
  transition: 0.2s;
}
.paymentPlans .subscriptionTimeSwitch .backgroundSwitch.right {
  width: 55%;
  left: 45%;
}
.paymentPlans .subscriptionTimeSwitch .monthSubscription {
  position: absolute;
  font-size: 20px;
  width: 45%;
  height: 100%;
  color: white;
  left: -2px;
  cursor: pointer;
  transition: 0.2s;
}
.paymentPlans .subscriptionTimeSwitch .monthSubscription.right {
  color: black;
}
.paymentPlans .subscriptionTimeSwitch .yearSubscription {
  position: absolute;
  flex-direction: row;
  font-size: 20px;
  width: 55%;
  right: -2px;
  cursor: pointer;
}
.paymentPlans .subscriptionTimeSwitch .yearSubscription .year {
  margin-right: 15px;
  color: black;
  transition: 0.2s;
}
.paymentPlans .subscriptionTimeSwitch .yearSubscription .year.right {
  color: white;
}
.paymentPlans .subscriptionTimeSwitch .yearSubscription .promo {
  background-color: #f9d783;
  padding: 6px;
  border-radius: 5px;
  color: black;
}/*# sourceMappingURL=index.css.map */