@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway";
  margin: 0 auto;
  max-width: 1440px;
  width: 90vw;
  height: 100px;
}
body div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  width: 90%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav img {
  width: 138px;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}
nav ul li {
  list-style: none;
}
nav ul li .link {
  font-size: 16px;
  text-decoration: none;
  color: black;
  margin: 0 5px;
}
nav ul li .link.active {
  color: #028a0f;
}
nav ul li .link:hover {
  color: #028a0f;
}
nav button {
  font-size: 16px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border: none;
  padding: 0 25px;
  height: 43px;
  background: linear-gradient(135deg, #028a0f 0%, #90d296 100%);
}
nav button:hover {
  background: linear-gradient(135deg, #90d296 0%, #028a0f 100%);
}

.footer {
  width: 100%;
  height: 500px;
  background-color: #f3fbf4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .wrapper {
  height: 80%;
  width: 90%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .wrapper .descriptionContainer {
  width: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .wrapper .descriptionContainer .footerLogo {
  width: 200px;
  height: 70px;
  margin-bottom: 20px;
}
.footer .wrapper .descriptionContainer p {
  font-size: 18px;
  margin-bottom: 20px;
}
.footer .wrapper .descriptionContainer .social {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.footer .wrapper .descriptionContainer .social img {
  width: 24px;
  margin-right: 24px;
}
.footer .wrapper .linksContainer {
  width: 30%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.footer .wrapper .linksContainer .quickLinks {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .wrapper .linksContainer .quickLinks h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
.footer .wrapper .linksContainer .quickLinks .miniLayout {
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .wrapper .linksContainer .quickLinks .miniLayout ul {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.footer .wrapper .linksContainer .quickLinks .miniLayout ul li {
  margin-bottom: 24px;
}
.footer .wrapper .linksContainer .quickLinks .miniLayout ul li .miniLink {
  text-decoration: none;
  color: black;
}
.footer .wrapper .linksContainer .quickLinks .miniLayout ul li .miniLink:hover {
  color: #028a0f;
}
.footer .wrapper .linksContainer .legalLinks {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.footer .wrapper .linksContainer .legalLinks h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
.footer .wrapper .linksContainer .legalLinks a {
  text-decoration: none;
  color: black;
  margin-bottom: 24px;
}

.header {
  width: 100%;
  height: 700px;
  margin-bottom: 120px;
  background-image: url("../src/pictures/home/homeBaner.png");
  background-position: center;
}
.header .headerDescription {
  height: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 50%;
  margin-left: 6%;
}
.header .headerDescription h1 {
  font-size: 80px;
  font-size: bold;
  color: #ffffff;
}
.header .headerDescription p {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 20px;
}
.header .headerDescription button {
  font-size: 16px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border: none;
  padding: 0 25px;
  height: 43px;
  background: linear-gradient(135deg, #028a0f 0%, #90d296 100%);
}
.header .headerDescription button:hover {
  background: linear-gradient(135deg, #90d296 0%, #028a0f 100%);
}

.shortAboutUs {
  width: 90%;
  height: 700px;
}
.shortAboutUs .wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.shortAboutUs .wrapper .imgWrapper {
  width: 50%;
  height: 100%;
  position: relative;
}
.shortAboutUs .wrapper .imgWrapper img {
  width: 90%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.shortAboutUs .wrapper .imgWrapper div {
  width: 90%;
  height: 90%;
  position: absolute;
  bottom: 0;
  right: 0;
  border: solid 4px #028a0f;
}
.shortAboutUs .wrapper .descriptionWrapper {
  width: 50%;
  padding-left: 5%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.shortAboutUs .wrapper .descriptionWrapper h2 {
  font-size: 48px;
  font-size: bold;
  margin-bottom: 20px;
}
.shortAboutUs .wrapper .descriptionWrapper p {
  font-size: 18px;
  color: #848484;
  margin-bottom: 20px;
}
.shortAboutUs .wrapper .descriptionWrapper .aboutUsListEl {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.shortAboutUs .wrapper .descriptionWrapper .aboutUsListEl img {
  margin-bottom: 20px;
  margin-right: 10px;
}/*# sourceMappingURL=index.css.map */