@use "./standardElements";

// ---------------------INDOOR SECTION---------------------------//

.indoor {
  width: 90%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 120px;
  .indoorTitle {
    @include standardElements.h2;
    margin-bottom: 40px;
  }
  .indoorWrapper {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    .frame {
      align-items: flex-start;
      width: 49%;
      margin-bottom: 20px;
      .frameImg {
        width: 100%;
        margin-bottom: 40px;
      }
      .frameTitle {
        @include standardElements.h2;
        font-size: 32px;
        margin-bottom: 20px;
      }
      .frameText {
        @include standardElements.pGray;
      }
    }
  }
}

// ---------------------OUTDOOR SECTION---------------------------//

.outdoor {
  width: 90%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 120px;
  .outdoorTitle {
    @include standardElements.h2;
    margin-bottom: 40px;
  }
  .outdoorWrapper {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    .frame {
      align-items: flex-start;
      width: 49%;
      margin-bottom: 20px;
      .frameImg {
        width: 100%;
        margin-bottom: 40px;
      }
      .frameTitle {
        @include standardElements.h2;
        font-size: 32px;
        margin-bottom: 20px;
      }
      .frameText {
        @include standardElements.pGray;
      }
    }
  }
}

// ---------------------COMMON AREAS SECTION---------------------------//

.commonAreas {
  width: 90%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 120px;
  .commonAreasTitle {
    @include standardElements.h2;
    margin-bottom: 40px;
  }
  .commonAreasImages {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    img {
      width: 49%;
      margin-bottom: 20px;
    }
  }
  .commonAreasText {
    @include standardElements.pGray;
  }
}

// ---------------------ACCESSIBILITY SECTION---------------------------//

.accessibilityFeatures {
  width: 90%;
  margin-bottom: 120px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .accessibilityFeaturesTitle {
    @include standardElements.h2;
    text-align: center;
    height: 15%;
    margin-bottom: 40px;
  }
  .accessibilityFeaturesWrapper {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .frame {
      background-color: standardElements.$lightGreen;
      align-items: start;
      justify-content: space-between;
      border-radius: 10px;
      width: 30%;
      height: 42%;
      padding: 2%;
      margin-bottom: 20px;
      .frameImg {
        height: 45px;
        margin-bottom: 20px;
      }
      h3 {
        @include standardElements.h3Footer;
      }
      p {
        @include standardElements.pGray;
      }
    }
  }
}

@media (max-width: 1200px) {
  // ---------------------INDOOR SECTION---------------------------//

  .indoor {
    margin-bottom: 60px;
    .indoorTitle {
      @include standardElements.h2Small;
      margin-bottom: 40px;
    }
    .indoorWrapper {
      flex-direction: column;
      .frame {
        align-items: flex-start;
        width: 90%;
        margin-bottom: 40px;
        .frameImg {
          margin-bottom: 20px;
        }
        .frameTitle {
          @include standardElements.h2Small;
          margin-bottom: 10px;
        }
        .frameText {
          @include standardElements.pGraySmall;
        }
      }
    }
  }

  // ---------------------OUTDOOR SECTION---------------------------//

  .outdoor {
    margin-bottom: 60px;
    .outdoorTitle {
      @include standardElements.h2Small;
      margin-bottom: 40px;
    }
    .outdoorWrapper {
      flex-direction: column;
      .frame {
        align-items: flex-start;
        width: 90%;
        margin-bottom: 20px;
        .frameImg {
          width: 100%;
          margin-bottom: 40px;
        }
        .frameTitle {
          @include standardElements.h2Small;
          margin-bottom: 10px;
        }
        .frameText {
          @include standardElements.pGraySmall;
        }
      }
    }
  }

  // ---------------------COMMON AREAS SECTION---------------------------//

  .commonAreas {
    margin-bottom: 60px;
    .commonAreasTitle {
      @include standardElements.h2Small;
      margin-bottom: 40px;
    }
    .commonAreasText {
      @include standardElements.pGraySmall;
    }
  }

  // ---------------------ACCESSIBILITY SECTION---------------------------//

  .accessibilityFeatures {
    margin-bottom: 60px;
    .accessibilityFeaturesTitle {
      @include standardElements.h2Small;
      margin-bottom: 20px;
    }
    .accessibilityFeaturesWrapper {
      flex-direction: column;
      .frame {
        width: 90%;
        .frameImg {
          height: 25px;
        }
        h3 {
          @include standardElements.h3FooterSmall;
        }
        p {
          @include standardElements.pGraySmall;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  // ---------------------INDOOR SECTION---------------------------//

  .indoor {
    margin-bottom: 30px;
    .indoorTitle {
      margin-bottom: 20px;
    }
    .indoorWrapper {
      .frame {
        margin-bottom: 20px;
        .frameImg {
          margin-bottom: 10px;
        }
        .frameTitle {
          margin-bottom: 10px;
        }
      }
    }
  }

  // ---------------------OUTDOOR SECTION---------------------------//

  .outdoor {
    margin-bottom: 30px;
    .outdoorTitle {
      margin-bottom: 20px;
    }
    .outdoorWrapper {
      .frame {
        margin-bottom: 20px;
        .frameImg {
          margin-bottom: 40px;
        }
        .frameTitle {
          margin-bottom: 10px;
        }
      }
    }
  }

  // ---------------------COMMON AREAS SECTION---------------------------//

  .commonAreas {
    margin-bottom: 30px;
    .commonAreasTitle {
      margin-bottom: 20px;
    }
  }

  // ---------------------ACCESSIBILITY SECTION---------------------------//

  .accessibilityFeatures {
    margin-bottom: 30px;
    .accessibilityFeaturesTitle {
      margin-bottom: 20px;
    }
    .accessibilityFeaturesWrapper {
      flex-direction: column;
      .frame {
        width: 100%;
        .frameImg {
          height: 25px;
        }
        h3 {
          @include standardElements.h3FooterSmall;
        }
        p {
          @include standardElements.pGraySmall;
        }
      }
    }
  }
}
