@use "./standardElements";

.paymentPlans {
  width: 90%;
  .paymentPlansTitle {
    @include standardElements.h2;
    margin-bottom: 60px;
  }
  .subscriptionTimeSwitch {
    border: solid 2px black;
    border-radius: 8px;
    width: 30%;
    height: 60px;
    position: relative;
    margin-bottom: 60px;
    .backgroundSwitch {
      position: absolute;
      border: solid 2px black;
      border-radius: 5px;
      height: 100%;
      width: 45%;
      background: black;
      left: -2px;
      transition: 0.2s;
    }
    .backgroundSwitch.yearPlan {
      width: 55%;
      left: 45%;
    }
    .monthSubscription {
      position: absolute;
      font-size: 20px;
      width: 45%;
      height: 100%;
      color: white;
      left: -2px;
      cursor: pointer;
      transition: 0.2s;
    }
    .monthSubscription.yearPlan {
      color: black;
    }
    .yearSubscription {
      position: absolute;
      flex-direction: row;
      font-size: 20px;
      width: 55%;
      right: -2px;
      cursor: pointer;
      .year {
        margin-right: 15px;
        color: black;
        transition: 0.2s;
      }
      .year.yearPlan {
        color: white;
      }
      .promo {
        background-color: #f9d783;
        padding: 6px;
        border-radius: 5px;
        color: black;
      }
    }
  }
  .plans {
    margin-bottom: 120px;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    .plansOn {
      flex-direction: row;
      justify-content: space-between;
      .paymentPlanBanner {
        width: 30%;
        border: standardElements.$colorGreen 2px solid;
        border-radius: 5px;
        align-items: center;
        padding: 30px 30px;
        background-color: #fff;
        transition: 0.5s;
        .planLevelWrapper {
          align-items: flex-start;
          margin-bottom: 50px;
          min-height: 80px;
          .classPopular {
            background-color: #f9d783;
            padding: 0 15px;
            font-size: 15px;
            color: black;
            width: auto;
            border-radius: 5px;
            margin-bottom: 15px;
          }
          .nonPopular {
            display: none;
          }
          .level {
            width: auto;
            padding: 5px 14px;
            text-transform: uppercase;
            color: black;
            background-color: #f1f1f1;
            border-radius: 5px;
            font-size: 15px;
          }
        }
        .priceWrapper {
          align-items: flex-start;
          height: 150px;
          border-top: 2px solid #e3e3e3;
          border-bottom: 2px solid #e3e3e3;
          margin-bottom: 30px;
          .price {
            font-size: 66px;
            font-weight: 900;
            margin-bottom: 5px;
            transition: 0.5s;
          }
          .description {
            font-size: 15px;
            transition: 0.5s;
          }
        }
        .offeringServices {
          align-items: flex-start;
          justify-content: flex-start;
          margin-bottom: 30px;
          .offeringService {
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: row;
            transition: 0.5s;
            img {
              width: 22px;
              margin-right: 5px;
            }
            p {
              margin-bottom: 15px;
              font-size: 15px;
            }
          }
        }
        .nonPopularButton {
          width: 100%;
          color: #fff;
          background-color: black;
          border-radius: 5px;
          padding: 10px;
          margin-bottom: 10px;
          cursor: pointer;
        }
        .classPopularButton {
          width: 100%;
          color: black;
          background-color: #f9d783;
          border-radius: 5px;
          padding: 10px;
          margin-bottom: 10px;
          font-weight: 900;
          cursor: pointer;
        }
        .noCard {
          color: black;
          font-size: 15px;
          margin-bottom: 50px;
        }
      }
      .paymentPlanBanner:hover {
        transform: scale(1.05);
        background-color: standardElements.$colorGreen;
        .price {
          color: #fff;
        }
        .description {
          color: #fff;
        }
        .offeringService {
          color: #fff;
        }
      }
    }
    .plansOff {
      display: none;
    }
  }
  .insuranceWrapper {
    width: 90%;
    margin-bottom: 120px;
    .title {
      @include standardElements.h2;
      margin-bottom: 24px;
    }
    .description {
      @include standardElements.pGray;
      text-align: center;
    }
  }
  .callBanner {
    position: relative;
    margin-bottom: 120px;
    background: linear-gradient(135deg, #028a0f 0%, #90d296 100%);
    overflow: hidden;
    width: 100%;
    .paperAeroplane {
      position: absolute;
      height: 130px;
      bottom: -20px;
      right: 15px;
    }
    .description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: 100%;
      width: 60%;
      margin: 5%;
      h2 {
        @include standardElements.h2;
        color: white;
        margin-bottom: 30px;
      }
      p {
        @include standardElements.pWhite;
        margin-bottom: 30px;
      }
      button {
        @include standardElements.button;
        background: white;
        color: black;
      }
    }
  }
}
