@use "./standardElements";

.footer {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f3fbf4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .wrapper {
    height: 80%;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;

    // ---------------------DESCRIPTION SECTION---------------------------//
    .descriptionContainer {
      width: 50%;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      .footerLogo {
        width: 200px;
        height: 70px;
        margin-bottom: 20px;
      }
      p {
        font-size: 18px;
        margin-bottom: 20px;
        line-height: 28px;
      }
      .social {
        flex-direction: row;
        justify-content: start;
        img {
          width: 24px;
          margin-right: 24px;
        }
      }
    }

    // ---------------------LINKS SECTION---------------------------//
    .linksContainer {
      width: 45%;
      flex-direction: row;
      align-items: start;
      .quickLinks {
        justify-content: start;
        align-items: start;
        h3 {
          @include standardElements.h3Footer;
        }
        flex-direction: column;
        .miniLayout {
          height: 100%;
          justify-content: center;
          ul {
            width: 100%;
            flex-direction: column;
            align-items: start;
            li {
              margin-bottom: 24px;
              .miniLink {
                text-decoration: none;
                color: black;
              }
              .miniLink:hover {
                @include standardElements.colorHoverGreen;
              }
            }
          }
        }
      }
      .legalLinks {
        flex-direction: column;
        align-items: start;
        h3 {
          @include standardElements.h3Footer;
        }
        a {
          text-decoration: none;
          color: black;
          margin-bottom: 24px;
        }
        a:hover {
          @include standardElements.colorHoverGreen;
        }
      }
    }
  }

  // ---------------------COPYRIGHT SECTION---------------------------//
  .copyright {
    margin-top: 100px;
  }
}

@media (max-width: 1200px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
    .wrapper {
      // ---------------------DESCRIPTION SECTION---------------------------//
      .descriptionContainer {
        width: 30%;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        .footerLogo {
          width: 100px;
          height: 70px;
          margin-bottom: 0px;
        }
        p {
          @include standardElements.pGraySmall;
          color: black;
        }
        .social {
          img {
            width: 16px;
            margin-right: 12px;
          }
        }
      }

      // ---------------------LINKS SECTION---------------------------//
      .linksContainer {
        .quickLinks {
          h3 {
            @include standardElements.h3FooterSmall;
          }
          flex-direction: column;
          .miniLayout {
            ul {
              li {
                margin-bottom: 12px;
                .miniLink {
                  @include standardElements.pGraySmall;
                  text-decoration: none;
                  color: black;
                }
                .miniLink:hover {
                  @include standardElements.colorHoverGreen;
                }
              }
            }
          }
        }
        .legalLinks {
          flex-direction: column;
          align-items: start;
          h3 {
            @include standardElements.h3FooterSmall;
          }
          a {
            @include standardElements.pGraySmall;
            text-decoration: none;
            color: black;
            margin-bottom: 12px;
          }
          a:hover {
            @include standardElements.colorHoverGreen;
          }
        }
      }
    }

    // ---------------------COPYRIGHT SECTION---------------------------//
    .copyright {
      margin-top: 50px;
      font-size: 12px;
    }
  }
}

@media (max-width: 600px) {
  .footer {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    .wrapper {
      flex-direction: column;
      width: 100%;
      // ---------------------DESCRIPTION SECTION---------------------------//
      .descriptionContainer {
        margin-bottom: 30px;
        width: 90%;
        .footerLogo {
          width: 100px;
          margin-bottom: 10px;
        }
      }

      // ---------------------LINKS SECTION---------------------------//
      .linksContainer {
        width: 100%;
        justify-content: space-around;
        .quickLinks {
          width: 50%;
          align-items: center;
          .miniLayout {
            ul {
              align-items: center;
              li {
                margin-bottom: 5px;
              }
            }
          }
        }
        .legalLinks {
          flex-direction: column;
          align-items: center;
          width: 50%;
        }
      }
    }

    // ---------------------COPYRIGHT SECTION---------------------------//
    .copyright {
      margin-top: 20px;
      width: 90%;
      text-align: center;
    }
  }
}
