@use "./standardElements";

//HEADER

.header {
  width: 100%;
  height: 700px;
  margin-bottom: 120px;
  background-image: url("../src/pictures/home/homeBaner.png");
  background-position: center;
  .headerDescription {
    height: 100%;
    align-items: start;
    width: 50%;
    margin-left: 6%;
    h1 {
      @include standardElements.h1;
    }
    p {
      @include standardElements.pWhite;
      margin-bottom: 20px;
    }
    button {
      @include standardElements.button;
    }
    button:hover {
      @include standardElements.buttonHover;
    }
  }
}

//ABOUT US SECTION

.shortAboutUs {
  width: 90%;
  height: 700px;
  margin-bottom: 120px;
  .wrapper {
    width: 100%;
    height: 100%;
    flex-direction: row;
    .imgWrapper {
      width: 50%;
      height: 100%;
      position: relative;
      img {
        width: 90%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
      }
      div {
        width: 90%;
        height: 90%;
        position: absolute;
        top: 10%;
        right: 0;
        border: solid 4px standardElements.$colorGreen;
      }
    }
    .descriptionWrapper {
      width: 50%;
      padding-left: 5%;
      align-items: start;
      h2 {
        @include standardElements.h2;
        margin-bottom: 20px;
      }
      p {
        @include standardElements.pGray;
        margin-bottom: 20px;
      }
      .aboutUsListEl {
        flex-direction: row;
        justify-content: start;
        img {
          margin-bottom: 20px;
          margin-right: 10px;
        }
      }
    }
  }
}

//OUR SERVICES SECTION
.shortOurServices {
  width: 90%;
  margin-bottom: 120px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    @include standardElements.h2;
    text-align: center;
    height: 15%;
  }
  .carts {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .card {
      background-color: #fff;
      align-items: start;
      justify-content: center;
      border-radius: 10px;
      width: 45%;
      height: 42%;
      padding: 2%;
      transition: 1s;
      margin-bottom: 20px;
      img {
        height: 45px;
        margin-bottom: 20px;
      }
      h3 {
        @include standardElements.h3Footer;
      }
      p {
        @include standardElements.pGray;
      }
    }
    .card:hover {
      box-shadow: 4px 4px 50px#848484;
      transform: scale(1.02);
    }
  }
}

//CLIENT REVIEWS SECTION

.clientReviews {
  height: 600px;
  width: 100%;
  margin-bottom: 120px;
  background-color: standardElements.$lightGreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  h2 {
    @include standardElements.h2;
    margin-bottom: 20px;
  }
  .clientReview {
    flex-direction: column;
    width: 70%;
    text-align: center;
    .clientRevievDescription {
      @include standardElements.pGray;
      margin-bottom: 50px;
    }
    .clientInfo {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: auto;
      img {
        width: 60px;
      }
      .userName {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        h3 {
          @include standardElements.h3Footer;
          margin-bottom: 10px;
        }
        p {
          @include standardElements.pGray;
        }
      }
    }
  }
}

// CENTER FOR YOU

.centerForYou {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  margin-bottom: 120px;
  align-items: center;
  img {
    width: 50%;
    height: 50%;
  }
  .description {
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    h2 {
      @include standardElements.h2;
      margin-bottom: 40px;
    }
    p {
      @include standardElements.pGray;
      margin-bottom: 40px;
    }
    button {
      @include standardElements.button;
    }
  }
}

.callBanner {
  position: relative;
  width: 90%;
  margin-bottom: 120px;
  background: linear-gradient(135deg, #028a0f 0%, #90d296 100%);
  overflow: hidden;
  .paperAeroplane {
    position: absolute;
    height: 130px;
    bottom: -20px;
    right: 15px;
  }
  .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 50%;
    margin: 5%;
    h2 {
      @include standardElements.h2;
      color: white;
      margin-bottom: 30px;
    }
    p {
      @include standardElements.pWhite;
      margin-bottom: 30px;
    }
    button {
      @include standardElements.button;
      background: white;
      color: black;
    }
  }
}
