nav {
  width: 90%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  img {
    width: 138px;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    li {
      list-style: none;
      .link {
        font-size: 16px;
        text-decoration: none;
        color: black;
      }
      .link.active {
        color: #028a0f;
      }
      .link:hover {
        color: #028a0f;
      }
    }
  }
  button {
    font-size: 16px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    width: 124px;
    height: 43px;
    background: linear-gradient(135deg, #028a0f 0%, #90d296 100%);
  }
}
