@use "./standardElements";

nav {
  width: 90%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  img {
    width: 138px;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    li {
      list-style: none;
      .link {
        font-size: 16px;
        text-decoration: none;
        color: black;
        margin: 0 5px;
      }
      .link.active {
        @include standardElements.colorHoverGreen;
      }
      .link:hover {
        @include standardElements.colorHoverGreen;
      }
    }
  }
  button {
    @include standardElements.button;
  }
}
