@use "./standardElements";

// ---------------------SERVICES SECTION---------------------------//

.services {
  flex-direction: column;
  width: 90%;
  .service {
    width: 100%;
    flex-direction: row;
    margin-bottom: 120px;
    .details {
      flex-direction: column;
      width: 70%;
      margin-right: 40px;
      .title {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 40px;
        h2 {
          @include standardElements.h2;
          margin-bottom: 40px;
        }
        p {
          @include standardElements.pGray;
        }
      }
      .description {
        flex-direction: column;
        align-items: flex-start;
        h3 {
          @include standardElements.h2;
          font-size: 32px;
          margin-bottom: 20px;
        }
        p {
          @include standardElements.pGray;
        }
      }
    }
    .offers {
      flex-direction: column;
      align-items: flex-start;
      width: 30%;
      h3 {
        @include standardElements.h2;
        font-size: 32px;
        margin-bottom: 20px;
      }
      p {
        @include standardElements.pGray;
        color: #000;
        margin-bottom: 10px;
      }
    }
  }
}

// ---------------------DIETARY SECTION---------------------------//

.dietaryServices {
  width: 90%;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 120px;
  .dietaryServicesTitle {
    @include standardElements.h2;
    margin-bottom: 60px;
  }
  .dietaryServicesWrapper {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    .frame {
      align-items: flex-start;
      background-color: standardElements.$lightGreen;
      border-radius: 10px;
      width: 32%;
      .frameImg {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-bottom: 30px;
      }
      .frameTitle {
        @include standardElements.h2;
        font-size: 32px;
        margin: 0px 24px 20px 24px;
      }
      .frameText {
        @include standardElements.pGray;
        margin: 0px 24px 20px 24px;
      }
    }
  }
}

// ---------------------ACTIVITIES SECTION---------------------------//

.socialActivities {
  width: 90%;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 120px;
  .socialActivitiesTitle {
    @include standardElements.h2;
    margin-bottom: 60px;
  }
  .socialActivitiesWrapper {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    .frame {
      align-items: flex-start;
      border-radius: 10px;
      border: 2px solid #028a0f;
      width: 49%;
      margin-bottom: 20px;
      .frameImg {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-bottom: 40px;
      }
      .frameTitle {
        @include standardElements.h2;
        font-size: 32px;
        margin: 0px 24px 20px 24px;
      }
      .frameText {
        @include standardElements.pGray;
        margin: 0px 24px 46px 24px;
      }
    }
  }
}

@media (max-width: 1200px) {
  // ---------------------SERVICES SECTION---------------------------//

  .services {
    .service {
      margin-bottom: 60px;
      .details {
        margin-right: 20px;
        .title {
          margin-bottom: 20px;
          h2 {
            @include standardElements.h2Small;
            margin-bottom: 20px;
          }
          p {
            @include standardElements.pGraySmall;
          }
        }
        .description {
          h3 {
            @include standardElements.h3FooterSmall;
            margin-bottom: 20px;
          }
          p {
            @include standardElements.pGraySmall;
          }
        }
      }
      .offers {
        h3 {
          @include standardElements.h3FooterSmall;
        }
        p {
          @include standardElements.pGraySmall;
          margin-bottom: 5px;
        }
      }
    }
  }

  // ---------------------DIETARY SECTION---------------------------//

  .dietaryServices {
    margin-bottom: 60px;
    .dietaryServicesTitle {
      @include standardElements.h2Small;
      margin-bottom: 30px;
    }
    .dietaryServicesWrapper {
      flex-direction: column;
      width: 100%;
      justify-content: space-between;
      .frame {
        width: 90%;
        margin-bottom: 20px;
        .frameImg {
          width: 100%;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          margin-bottom: 30px;
        }
        .frameTitle {
          @include standardElements.h2Small;
          margin: 0px 24px 20px 24px;
        }
        .frameText {
          @include standardElements.pGraySmall;
          margin: 0px 24px 20px 24px;
        }
      }
    }
  }

  // ---------------------ACTIVITIES SECTION---------------------------//

  .socialActivities {
    margin-bottom: 60px;
    .socialActivitiesTitle {
      @include standardElements.h2Small;
      margin-bottom: 30px;
    }
    .socialActivitiesWrapper {
      flex-direction: column;
      width: 100%;
      .frame {
        width: 90%;
        .frameImg {
          width: 100%;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          margin-bottom: 20px;
        }
        .frameTitle {
          @include standardElements.h2Small;
          margin: 0px 24px 20px 24px;
        }
        .frameText {
          @include standardElements.pGraySmall;
          margin: 0px 24px 46px 24px;
        }
      }
    }
  }
}
