@use "./standardElements";
.topBanner {
  position: relative;
  width: 100%;
  margin-bottom: 120px;
  img {
    width: 100%;
  }
  h2 {
    @include standardElements.h2;
    color: #ffffff;
    position: absolute;
    left: 5%;
    bottom: 15%;
  }
}

@media (max-width: 600px) {
  .topBanner {
    margin-bottom: 60px;
    h2 {
      @include standardElements.h2Small;
    }
  }
}
